.App {
  width: 700px;
  margin: 50px auto;
  font-family: 'Pretendard', 'Noto Sans KR', sans-serif;
}

h1 {
  text-align: center;
  margin-bottom: 1rem;
}

form {
  display: flex;
  align-items: flex-start;
  gap: 10px;
  margin-bottom: 1rem;
  border: 1px solid #ccc;
  border-radius: 7px;
  padding: 50px;
}

form input[type='text'] {
  flex: 1;
  padding: 8px;
  font-size: 1rem;
  border: 1px solid #ccc;
  border-radius: 4px;
}

form textarea {
  flex: 2;
  height: 50px;
  padding: 8px;
  font-size: 1rem;
  border: 1px solid #ccc;
  border-radius: 4px;
  resize: none;
}

form button {
  padding: 8px 16px;
  background-color: #0078ff;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-weight: bold;
}

form button:hover {
  background-color: #005fcc;
}
