spring:
  application:
    name: backend
  datasource:
    url: jdbc:mariadb://localhost:3306/java_schema
    username: spring
    password: java
    driver-class-name: org.mariadb.jdbc.Driver

  jpa:
    hibernate:
      ddl-auto: create
    show-sql: true
    properties:
      hibernate.format_sql: true
